      body {
            margin: 0;
            padding: 0;
            scroll-behavior: smooth; /* Smooth Scroll */
        }
        ::selection{
            background-color: #fd5526;
            color: #000;
        }

        header {
            background-color: black;
        }

        .margin-main {
            margin: 0 140px;
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .img {
            background-image: url('https://websitedemos.net/digital-designer-04/wp-content/uploads/sites/1209/2023/03/ISAAC-HEALER.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 120px;
            height: 40px;
        }

        .anchor a {
            color: white;
            margin-left: 60px;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
        }

        .background {
            background-color: black;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .margin {
            margin: 0 140px;
            padding: 100px 20px;
            width: 100%;
        }

        .margin h3 {
            color: #f2f2f2;
            font-size: 76px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
            margin: 0;
            line-height: 1;
        }

        .button {
            margin-top: 50px;
        }

        .protfolio {
            background-color: #fd5526;
            border: 1px solid #fd5526;
            color: black;
            padding: 15px 30px;
            text-transform: uppercase;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 400;
            font-size: 25px;
            cursor: pointer;
        }

        .protfolio:hover {
            background-color: black;
            color: white;
        }

        .main-container {
            padding: 130px 0;
            display: flex;
            margin: 0 160px;
            gap: 50px;
        }

        .display-flex-1 {
            flex: 1;
        }

        .display-flex-2 {
            flex: 1;
            background-image: url('https://websitedemos.net/digital-designer-04/wp-content/uploads/sites/1209/2023/03/pfp.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: auto;
            width: 100%;
        }

        h2 {
            font-size: 36px;
            font-weight: 600;
            color: black;
            text-transform: uppercase;
        }

        p {
            margin-top: 30px;
            line-height: 2;
            font-size: 16px;
            color: #000;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 400;
        }

        .display {
            display: flex;
        }

        .main-display-1 {
            flex: 1;
        }

        .main-display-2 {
            flex: 1;
        }

        .h3 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 36px;
            color: #000;
            letter-spacing: 3;
            margin: 0;
        }

        .main-containerr {
            padding: 0px 0;
            display: flex;
            margin: 0 160px;
            gap: 50px;
        }